/*! 
 *   Author: Simão ValeMoreira Nº8627
 *   Multimédia e Tecnologias Web ESI-L 
 *   CSS File - HomeWork2      
!*/
.header{
  margin-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 15px;
  margin-left: 270px;
}

.logo{
  text-align: right;
}

.icon{
display: inline-block;
position: absolute;
margin-left: calc(0px - 60px - 16px);
}

.main-logo{
  display: inline-block;
  width: 650px;
}

.page{
  max-width: 45rem;
  margin: 5em auto 8em;
}

.title{
  color: black;
  text-align: left;
  font-size: small;
  font: inherit;
  font-size: 24px;
}

.title .info{
  color: #999;
}

.body{
  color: #000000;
  text-align: left;
  font: inherit;
  font-size: 24px;
}

.body_Italic{
  border-left: 5px solid #0091DA;
  padding-left: 20px;
  font-style: italic;
  font: inherit;
  font-size: 24px;
}

.strong{
  font-weight: bold;
  font-style: italic;
  font-size: 24px;
}

.footer{
text-align: center;
font-size: 18px;
color: #FFF;
background-color: #0091DA;
padding: 30px 0px;
margin-bottom: 0px;
}

.nav{
  text-align: center;
  background-color: #F6F6F8;
  color: #333;
  padding: 30px 0px;
  font-size: 14px;
  font-weight: bold;
  font-family: Arial,serif;
  display: block;
}

.section{
text-align: center;
color: #999;
font-family: Arial,serif;
font-size: 15px;
font-style: italic;
margin-top: 16px;
}